# Stock data: load, transform and persist stock data

### Import libraries

In [2]:
import pandas as pd
import yfinance as yf
from sqlalchemy import create_engine
from config import username, password

## Load and extract data from Yahoo Finance API

### Load Nintendo data

In [3]:
nintendo_stock_data = yf.Ticker("NTDOY")

nintendo_stock = {
    "sector" : nintendo_stock_data.info['sector'],
    "market" : nintendo_stock_data.info['market'],
    "longName" : nintendo_stock_data.info['longName'],
    "shortName" : nintendo_stock_data.info['shortName'],
    "symbol" : nintendo_stock_data.info['symbol']
}

nintendo_trading_data = nintendo_stock_data.history(start="1997-01-01", end="2016-12-31")

print(nintendo_stock)
print(nintendo_trading_data)

{'sector': 'Communication Services', 'market': 'us_market', 'longName': 'Nintendo Co., Ltd.', 'shortName': 'NINTENDO CO LTD', 'symbol': 'NTDOY'}
             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
1997-01-02   6.19   6.27   5.85   6.19   44800        0.0             0
1997-01-03   6.10   6.19   5.85   6.10   53400        0.0             0
1997-01-06   6.02   6.27   5.93   6.02   69600        0.0             0
1997-01-07   6.19   6.27   5.85   6.19   38100        0.0             0
1997-01-08   5.85   6.19   5.80   5.85   52000        0.0             0
...           ...    ...    ...    ...     ...        ...           ...
2016-12-23  23.02  23.20  22.74  23.10  286300        0.0             0
2016-12-27  23.84  24.17  23.84  24.06  276400        0.0             0
2016-12-28  23.98  24.07  23.73  23.76  180700        0.0             0
2016-12-29  23.93  24.08  23.77  23.93  165300        0.0             0
2016-12-30  23.98  24.21  23.89  23.94  211300        0.0             0

[5034 rows x 7 columns]

### Load Microsoft data

In [4]:
microsoft_stock_data = yf.Ticker("MSFT")

microsoft_stock = {
    "sector" : microsoft_stock_data.info['sector'],
    "market" : microsoft_stock_data.info['market'],
    "longName" : microsoft_stock_data.info['longName'],
    "shortName" : microsoft_stock_data.info['shortName'],
    "symbol" : microsoft_stock_data.info['symbol']
}

microsoft_trading_data = microsoft_stock_data.history(start="1997-01-01", end="2016-12-31")

print(microsoft_stock)
print(microsoft_trading_data)

{'sector': 'Technology', 'market': 'us_market', 'longName': 'Microsoft Corporation', 'shortName': 'Microsoft Corporation', 'symbol': 'MSFT'}
             Open   High    Low  Close    Volume  Dividends  Stock Splits
Date
1997-01-02   6.65   6.65   6.46   6.53  54480800        0.0           0.0
1997-01-03   6.58   6.78   6.56   6.77  44131200        0.0           0.0
1997-01-06   6.77   6.82   6.65   6.75  55948000        0.0           0.0
1997-01-07   6.76   6.81   6.67   6.80  36880800        0.0           0.0
1997-01-08   6.80   6.82   6.65   6.67  50593600        0.0           0.0
...           ...    ...    ...    ...       ...        ...           ...
2016-12-23  59.79  59.87  59.18  59.59  12403800        0.0           0.0
2016-12-27  59.56  60.37  59.56  59.63  11763200        0.0           0.0
2016-12-28  59.74  59.74  59.20  59.36  14653300        0.0           0.0
2016-12-29  59.23  59.55  59.11  59.27  10250600        0.0           0.0
2016-12-30  59.33  59.36  58.45  58.55  25579900        0.0           0.0

[5034 rows x 7 columns]

### Load Sony data

In [5]:
sony_stock_data = yf.Ticker("SNE")

sony_stock = {
    "sector" : sony_stock_data.info['sector'],
    "market" : sony_stock_data.info['market'],
    "longName" : sony_stock_data.info['longName'],
    "shortName" : sony_stock_data.info['shortName'],
    "symbol" : sony_stock_data.info['symbol']
}

sony_trading_data = sony_stock_data.history(start="1997-01-01", end="2016-12-31")

print(sony_stock)
print(sony_trading_data)

{'sector': 'Technology', 'market': 'us_market', 'longName': 'Sony Corporation', 'shortName': 'Sony Corporation', 'symbol': 'SNE'}
             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
1997-01-02  26.99  27.04  26.78  26.89   22800        0.0           0.0
1997-01-03  26.89  26.99  26.78  26.83   34200        0.0           0.0
1997-01-06  27.14  27.30  27.14  27.19  115000        0.0           0.0
1997-01-07  27.25  27.50  27.19  27.50   94000        0.0           0.0
1997-01-08  27.40  27.45  27.14  27.30  106000        0.0           0.0
...           ...    ...    ...    ...     ...        ...           ...
2016-12-23  27.74  27.87  27.74  27.84  331400        0.0           0.0
2016-12-27  27.68  27.86  27.67  27.76  402400        0.0           0.0
2016-12-28  27.88  27.88  27.65  27.66  355900        0.0           0.0
2016-12-29  27.56  27.64  27.51  27.53  431400        0.0           0.0
2016-12-30  27.39  27.51  27.30  27.42  645300        0.0           0.0

[5034 rows x 7 columns]

## Transform data

In [6]:
nintendo_stock['shortName'] = 'Nintendo'
nintendo_trading_data = nintendo_trading_data.drop(columns=["Dividends", "Stock Splits", "High", "Low"])
nintendo_trading_data['symbol'] = nintendo_stock_data.info['symbol']

microsoft_stock['shortName'] = 'Microsoft'
microsoft_trading_data = microsoft_trading_data.drop(columns=["Dividends", "Stock Splits", "High", "Low"])
microsoft_trading_data['symbol'] = microsoft_stock_data.info['symbol']

sony_stock['shortName'] = 'Sony'
sony_trading_data = sony_trading_data.drop(columns=["Dividends", "Stock Splits", "High", "Low"])
sony_trading_data['symbol'] = sony_stock_data.info['symbol']

platform_companies_info_list = [nintendo_stock, microsoft_stock, sony_stock]

combined_platform_companies_info = pd.DataFrame(platform_companies_info_list)
combined_platform_companies_info = combined_platform_companies_info.drop(columns=['sector', 'longName'])
combined_platform_companies_info = combined_platform_companies_info[['symbol', 'shortName', 'market']]
combined_platform_companies_info = combined_platform_companies_info.rename(
    columns={
        "symbol": "ticker",
        "shortName": "company_name"
    }
)
combined_platform_companies_info = combined_platform_companies_info.set_index('ticker')

combined_platform_companies_trading_data = pd.concat([nintendo_trading_data, microsoft_trading_data, sony_trading_data])
combined_platform_companies_trading_data = combined_platform_companies_trading_data.reset_index()
combined_platform_companies_trading_data = combined_platform_companies_trading_data[['symbol', 'Date', 'Open', 'Close', 'Volume']]
combined_platform_companies_trading_data = combined_platform_companies_trading_data.rename(
    columns={
        'symbol': 'ticker',
        'Open': 'open_price',
        'Close': 'close_price',
        'Volume': 'volume',
        'Date': 'date'
    }
)

In [8]:
print(combined_platform_companies_info)
print(combined_platform_companies_trading_data)

       company_name     market
ticker
NTDOY      Nintendo  us_market
MSFT      Microsoft  us_market
SNE            Sony  us_market
      ticker       date  open_price  close_price  volume
0      NTDOY 1997-01-02        6.19         6.19   44800
1      NTDOY 1997-01-03        6.10         6.10   53400
2      NTDOY 1997-01-06        6.02         6.02   69600
3      NTDOY 1997-01-07        6.19         6.19   38100
4      NTDOY 1997-01-08        5.85         5.85   52000
...      ...        ...         ...          ...     ...
15097    SNE 2016-12-23       27.74        27.84  331400
15098    SNE 2016-12-27       27.68        27.76  402400
15099    SNE 2016-12-28       27.88        27.66  355900
15100    SNE 2016-12-29       27.56        27.53  431400
15101    SNE 2016-12-30       27.39        27.42  645300

[15102 rows x 5 columns]

## Persist information in PostgreSQL

In [9]:
rds_connection_string = f'{username}:{password}@localhost:5432/videogames'
engine = create_engine(f'postgresql://{rds_connection_string}')

engine.table_names()

['video_game',
 'games_sales',
 'game_platform',
 'platform_catalog',
 'stock',
 'stock_history']

In [11]:
combined_platform_companies_info.to_sql(name='stock', con=engine, if_exists='append', index=True)

In [12]:
combined_platform_companies_trading_data.to_sql(
    name='stock_history', con=engine, if_exists='append', index=True, index_label='id'
)